/10-21-24.sql
/11-4-2024.sql
/AdvSQLCheckpoint2.sql
/APIAssignment.ipynb
/chinook.db
/crypto-coin-data-11.13.2024.csv
/DMV Database_2024-10-03T16_14_11.223Z.pdf
/EbayCleanedDataSample.csv
/EbayDataProject.ipynb
/EbayPcLaptopDataUnclean.csv
/EbayPcLaptopPriceData.csv
/FBS_average_Aadya.xlsx
/Midterm.sql
/MidtermPrep.sql
/Module1_DataWrangling.ipynb
/RewardsData.csv
/RewardsData.xlsx
/Script-9-25.sql
/Script9sep.sql
/ScriptSelect1.sql
/SpotifyData.csv
/StreamlitAppEbay.py
/StreamlitClass.py
/Taxis_R-Us Database.pdf
/Taxis_R_Us_Database.sql
/TreadWear_Aadya.xlsx
/trialhello.ipynb
/University Database_2024-10-03T18_16_07.158Z.pdf
/walmart_sales_data.csv
/YourLastName_Taxis.db